a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_b0df8f6 a { text-decoration: none; }
#menu_b0df8f6_pane { background-color: #E6E6E6; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_b0df8f6_hr { background-color: #646464; height: 1px; border: none; }
#menu_b0df8f6_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_b0df8f6_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_b0df8f6_entry:hover span { color:#FFFFFF !important; }
		.menu_b0df8f6_mainMenuEntry { text-align: center; }
		.menu_b0df8f6_mainMenuEntry:hover {	background-color:#282828; }
		.menu_b0df8f6_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_b0df8f6 .mobileEntry { display: none; } 
		#menu_b0df8f6 .normalEntry { display: block; } 
#menu_39a13c77 a { text-decoration: none; }
#menu_39a13c77_pane { background-color: #494949; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_39a13c77_hr { background-color: #646464; height: 1px; border: none; }
#menu_39a13c77_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_39a13c77_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_39a13c77_entry:hover span { color:#FFFFFF !important; }
		.menu_39a13c77_mainMenuEntry { text-align: center; }
		.menu_39a13c77_mainMenuEntry:hover {	background-color:#282828; }
		.menu_39a13c77_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_39a13c77 .mobileEntry { display: none; } 
		#menu_39a13c77 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_39a13c77 .mobileEntry { display: block; } 
			#menu_39a13c77 .normalEntry { display: none; } 
		}
#menu_6a4e7890 a { text-decoration: none; }
#menu_6a4e7890_pane { background-color: #494949; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_6a4e7890_hr { background-color: #646464; height: 1px; border: none; }
#menu_6a4e7890_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_6a4e7890_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_6a4e7890_entry:hover span { color:#FFFFFF !important; }
		.menu_6a4e7890_mainMenuEntry { text-align: center; }
		.menu_6a4e7890_mainMenuEntry:hover {	background-color:#282828; }
		.menu_6a4e7890_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_6a4e7890 .mobileEntry { display: none; } 
		#menu_6a4e7890 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_6a4e7890 .mobileEntry { display: block; } 
			#menu_6a4e7890 .normalEntry { display: none; } 
		}
position: fixed; z-index: 100;body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_3bf16073 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; max-width:1100px; background-color:rgba(255, 255, 255, 0.698039); position: fixed; z-index: 100; }
#container_3bf16073_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#container_1bdf4e8c { vertical-align: top; position:relative; display: inline-block; width:49%; min-height:34px; min-width:200px; max-width:600px; background:none;  }
#container_1bdf4e8c_padding { margin: 20px 10px 10px 10px;display: block;  }
.textstyle3 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#menu_39a13c77 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; max-width:1100px; text-align:left; background-color:#454545; background: linear-gradient(to bottom, #4E4E4E, #454545); border: 1px solid #A0A0A0;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:36px; height:38px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:32px;  }
.textstyle5 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.style3 { position:absolute; width:60px; height:38px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:17px;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.style5 { position:absolute; width:72px; height:38px; left:70px;  }
.style6 { position:absolute; width:126px; height:38px; left:142px;  }
.style7 { position:absolute; width:118px; height:38px; left:268px;  }
.style8 { position:absolute; width:30px; height:38px; left:386px;  }
.style9 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:0px;  }
#container_3cab291b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1100px; background:none;  }
#container_3cab291b_padding { margin: 10px; display: block;  }
#container_76cb1e62 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:201px; max-width:1100px; background-color:#FFFFFF; background-image: url(rc_images/navback5.jpg); background-position:center left; background-repeat:no-repeat;  }
#container_76cb1e62_padding { margin: 10px; display: block;  }
#img_16e8edc5 { position:absolute; left:81%; top:11%; width:18%; background-color:#FFFFFF; background-position:top left; background-size:cover; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235); height:auto;  }
#placeh_24d93665 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:101%; min-height:241px; max-width:1100px; border: 1px solid #FFFFFF;  }
.textstyle7 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_76543de1 { vertical-align: top; position:relative; display: inline-block; width:73%; min-height:55px; background:none;  }
#container_76543de1_padding { margin: 10px; display: block;  }
#menu_b0df8f6 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:99%; height:38px; text-align:left; background-color:#E5E5E5; background: linear-gradient(to bottom, #FFFFFF, #E5E5E5); border: 0px solid #A0A0A0;  }
.style10 { position:absolute; width:43px; height:38px; left:10px;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.style11 { position:absolute; width:61px; height:38px; left:53px;  }
.style12 { position:absolute; width:123px; height:38px; left:114px;  }
#container_4c63728e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:600px; background:none;  }
#container_4c63728e_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold; line-height: 1.5;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; line-height: 1.5;  }
#menu_6a4e7890 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; max-width:1100px; text-align:left; background-color:#454545; background: linear-gradient(to bottom, #4E4E4E, #454545); border: 1px solid #A0A0A0;  }
.style13 { position:absolute; width:110px; height:38px; left:10px;  }
.style14 { position:absolute; width:188px; height:38px; left:120px;  }
.style15 { position:absolute; width:30px; height:38px; left:308px;  }
.style16 { position:absolute; width:30px; height:38px; left:338px;  }
.style17 { position:absolute; width:30px; height:38px; left:368px;  }
